<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h2>My Profile</h2>
    <br>
    <h3>View your profile details</h3>
    <br>
    <div th:each="ApplicationUser : ${myProfile}">
        <div th:text="${ApplicationUser.username}"/>
        <div th:text="${ApplicationUser.firstName}"/>
        <div th:text="${ApplicationUser.lastName}"/>
        <div th:text="${ApplicationUser.dateOfBirth}"/>
        <div th:text="${ApplicationUser.bio}"/>
    </div>
    <br>
    <form action="/addPost" method="post">
        <input type="text" name="addAPost" placeholder="Add your post here">
        <button type="submit">Submit</button>
    </form>
    <br>
    <h3>View your posts</h3>


</div>
</body>
</html>